<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ati.lunarmessages" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="ati.lunarmessages.permission.C2D_MESSAGE" />
    <permission
        android:name="ati.lunarmessages.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Register Activity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="ati.lunarmessages" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Updatereceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data
                    android:path="ati.lunarmessages"
                    android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="ati.lunarmessages.Bootreceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="ANDROID.INTENT.ACTION.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".GcmMessageHandler"
            android:enabled="true"
            android:icon="@drawable/ic_service" />
        <service
            android:name=".Toaster"
            android:enabled="true"
            android:icon="@drawable/ic_service" />
        <service
            android:name=".RegRefresher"
            android:enabled="true"
            android:icon="@drawable/ic_service" />

        <activity
            android:name=".MessageViewer"
            android:label="@string/title_activity_message_viewer" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>

</manifest>
